#-----------------------------------------------------------------------
# common
#-----------------------------------------------------------------------
*.[ao]
*.la
*.lo
*.so
*.dll
*.exe
*.pyc
deps.mak
.deps/
.libs/
.cache/
Makefile
Makefile.in
cscope.out
cscope.files
.dirstamp

#-----------------------------------------------------------------------
# / (root)
#-----------------------------------------------------------------------
/aclocal.m4
/autom4te.cache
/build/*.pyc
/build/cache
/build-aux/
/build-stamp
/geanygdb/src/ttyhelper
/codenames
/compile
/config.guess
/config.h
/config.h.in*
/config.log
/config.status
/config.sub
/configure
/debian
/depcomp
/install-sh
/intltool
/intltool-*
/libtool
/localwin32.mk
/ltmain.sh
/m4/
/make_deb.sh
/missing
/mkinstalldirs
/RUN
/stamp-h
/stamp-h1
/stamp-h.in
/*.tar.*
/test-driver
/TODO.*

#-----------------------------------------------------------------------
# /po/
#-----------------------------------------------------------------------
/po/ChangeLog.save
/po/*.gmo
/po/*.header
/po/.intltool-merge-cache
/po/LINGUAS
/po/Makefile.in.in
/po/Makevars
/po/*.mo
/po/*.pot
/po/POTFILES
/po/POTFILES.ignore
/po/POTFILES.in.missing
/po/POTFILES.in.noi18n
/po/Rules-quot
/po/*.sed
/po/*.sin
/po/stamp-it

#-----------------------------------------------------------------------
# TeX
#-----------------------------------------------------------------------
*.aux
*.lof
*.log
*.lol
*.lot
*.out
*.toc
