autom4te.cache
Makefile
Makefile.in
aclocal.m4
config.log
config.status
config.guess
config.sub
config.h
config.h.in
configure
.deps
.libs
*.o
*.la
*.lo
libtool
*.tar.gz
unittests
ltmain.sh
depcomp
install-sh
missing
intltool-*
mkinstalldirs
stamp-h1
